<!DOCTYPE html>
<html> 
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<title></title>
		<link rel="stylesheet" type="text/css" href="bootstrap.css" />
		<style>
			.active{
				font-size: 18
			}
		</style>
		<script src="vue.js"></script>
	</head>
	<body>
		<div id="app">{{message}}<input type="text" v-model="message"/><br/>
			<h1>Hello,Vue.js!</h1>
			<h1 v-if="yes">yes</h1>
			<h1 v-else>yes else</h1>
			<h1 v-if="no">no</h1>
			<h1 v-else>no else</h1>
			<h1 v-if="age >= 25">age:{{age}}</h1>
			<h1 v-if="name.indexOf('jack') >= 0">Name:{{name}}</h1>
		</div>
		<div id="app2">
			<h1>Hello,Vue.js!</h1>
			<h1 v-show="yes">yes</h1>
			<h1 v-else>yes else</h1>
			<h1 v-show="no">no</h1>
			<h1 v-else>no else</h1>
			<h1 v-show="age >= 25">age:{{age}}</h1>
			<h1 v-show="name.indexOf('jack') >= 0">Name:{{name}}</h1>
		</div>

		<div id="app3">
			<table>
				<thead>
					<tr>
						<td>Name</td>
						<td>Age</td>
						<td>Sex</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="person in people">
						<td>{{person.name}}</td>
						<td>{{person.age}}</td>
						<td>{{person.sex}}</td>
					</tr>
				</tbody>	
			</table>
		</div>
		
		<script type="text/javascript">
			
				var vm = new Vue({
					el : '#app3',
					data : {
							people : 
							[
								{
									name:'zhangsan',
									age:22,
									sex:'男'
								},
								{
									name:'lisi',
									age:28,
									sex:'女'
								}
							]}
				});
			
		</script>
		<div id="app4">
			<ul class="pagination">
				<!-- <li v-for="n in pageCount" >
					<a href="javascript:void(0)" v-bind:class="activeNumber === n+1 ? 'active' : ''">{{n+1}}</a>
				</li> -->
				<li v-for="n in pageCount" >
					<a href="javascript:void(0)" :class="activeNumber === n+1 ? 'active' : ''">{{n+1}}</a>
				</li>
			</ul>
		</div>
		
		<script>
			var vm = new Vue({
				el : '#app4',
				data : {
					activeNumber : 1,
					pageCount : 10
				} 
			});
		</script>


		<div id="app5">
			<a href="javascript:void(0)" v-on:click="dosomething">v-on</a><br/>
			<a href="javascript:void(0)" @click="dosomething2">v-on-sort</a>
		</div>
		<script type="text/javascript">
			var vm = new Vue({
				el : '#app5',
				data : {
					message : 'msg'
				},
				methods : {
					dosomething : function(){
						alert(this.message);
					},
					dosomething2 : function(){
						alert(this.message+'2');
					}
				}
			});
		</script>



		<script>
			/*var exampleData = {
				message : "hello world"
			}
			new Vue({
				el : '#app',
				data : exampleData
			});*/

			var vm = new Vue({
				el : '#app',
				data : {
					yes : true,
					no : false,
					age : 28,
					name : 'keepfool'
				}
			});

			var vm2= new Vue({
				el : '#app2',
				data : {
					yes : true,
					no : false,
					age : 28,
					name : 'keepfool'
				}
			});
		</script>
	</body>
<html>